html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header{
    background-color: white;
    clear: both;
    width: 97%;
    margin: 0 auto;
    display: table;
    height: 70px;
}

.logo, .menu-lx{
    float: left;
    margin-top: 22px;
}

.logo{
    margin-top: 22px;
    margin-right: 15px;
}

.menu-dx, .menu-lx, .initial{
    margin-top: 27px;
    font-weight: bold;
}


.menu-dx, .initial{
    float: right;
}

nav ul li{
    display: inline-block;
}

.menu, #bottom{
    text-decoration: none;
    margin: 15px;
    color: black;
}

#bottom{
    background-color: #0061FF;
    border: solid 5px #0061FF;
    color: white;
    padding: 0 10px;
}

/* sotto-header */
/* prima colonna */
.sotto-header{
    background-color: #B4D0E7;
    height: 540px;
    display: table;
    clear: both;
    width: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.title{
    font-size: 66px;
    width: 100%;
    position: relative;
    font-weight: bold;
}

.first-column{
    float: left;
    margin-top: 65px;
    width: 100%;
    
}

/* seconda colonna */
.second-column{
    float: left;
    width: 36%;
    margin-top: 35px;
}

.sotto-title{
    line-height: 22px;
    font-size: 17px;
    font-weight: lighter;
}

.bottom-prova-gratuita{
    margin-top: 33px;
}

.prova-gratuita{
    color: white;
    background-color: #0061FF;
    border: solid 10px #0061FF;
    text-decoration: none;
    padding: 0 12px;
}

.prova-gratuita:hover{
    background-color: rgba(0, 97, 255, 0.8);
    border: solid 10px rgba(0, 97, 255, 0.8);
    padding: 0 12px;
}

.cancel-subscription{
    margin-top: 21px;
    font-size: 13px;
    font-weight: lighter
}

.down-arrow{
    margin-top: 50px;
    font-size: 58px;
}

.fas{
    color: black;
}

.img-container{
    float: right;
    width: 63%;
    margin-top: 35px;
}

.img2{
    position: absolute;
    width: 33%;
}

/* spazio vuoto */
.parte-vuota{
    height: 16vh;
}
/* spazio vuoto */

/* main */
.main-container{
    width: 70%;
    margin: 0 auto;
}

#title2{
    margin-top: 55px;
    font-size: 35px;
    font-weight: bold;
}

.selezione li{
    text-decoration: none;
    display: inline;
    margin-right: 20px;
}

.selezione{
    margin-top: 2%;
}

/* colonne */
.col-1, .col-2{
    width: 23%;
    margin-top: 2%;
    float: left;
    border: solid 1px gray;
    margin-right: 15%;
    margin-bottom: 2%;
}

.col-1 .check-list{
    margin-bottom: 66%;
}

.col-3{
    width: 23%;
    margin-top: 2%;
    float: right;
    border: solid 1px gray;
    margin-bottom: 2%;
}

.tipo{
    text-align: center;
    border: solid gray 1px;
    padding: 10px;
}

.container-col{
    width: 90%;
    margin: 0 auto;
}

.pacchetto{

}

.tipo-pacchetto{
    font-weight: bold;
    font-size: 23px;
    margin-top: 27px;
    margin-bottom: 13px;
}

.prezzo-pacchetto{
    font-weight: bold;
    margin-bottom: 8px;
}

.descrizione-pacchetto{
    margin-top: 45px;
}

.descrizione-pacchetto p{
    margin-bottom: 25px;
}

.prova-gratis{
    color: white;
    background-color: #0061FF;
    text-decoration: none;
    text-align: center;
    display: grid;
    border: 10px solid #0061FF;
    margin-bottom: 27px;
}

.oppure{
    display: inline-block;
    padding: 0 0 25px;
    border-bottom: 1px solid gray;
    margin-bottom: 25px;
}

.acquista-ora{
    color: dodgerblue;
}

.punti-salienti{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 22px;
}

.check-list{
    list-style: none;
    margin-bottom: 55%;
}

.check-list li{
    margin-bottom: 22px;

}