html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header{
    background-color: white;
    clear: both;
    width: 97%;
    margin: 0 auto;
    display: table;
    height: 70px;
}

.logo, .menu-lx{
    float: left;
    margin-top: 22px;
}

.logo{
    margin-top: 22px;
    margin-right: 15px;
}

.menu-dx, .menu-lx, .initial{
    margin-top: 27px;
    font-weight: bold;
}


.menu-dx, .initial{
    float: right;
}

nav ul li{
    display: inline-block;
}

.menu, #bottom{
    text-decoration: none;
    margin: 15px;
    color: black;
}

#bottom{
    background-color: #0061FF;
    border: solid 5px #0061FF;
    color: white;
    padding: 0 10px;
}

/* sotto-header */
/* prima colonna */
.sotto-header{
    background-color: #B4D0E7;
    height: 540px;
    display: table;
    clear: both;
    width: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.title{
    font-size: 66px;
    width: 100%;
    position: relative;
    font-weight: bold;
}

.first-column{
    float: left;
    margin-top: 65px;
    width: 100%;
    
}

/* seconda colonna */
.second-column{
    float: left;
    width: 36%;
    margin-top: 35px;
}

.sotto-title{
    line-height: 22px;
    font-size: 17px;
    font-weight: lighter;
}

.bottom-prova-gratuita{
    margin-top: 33px;
}

.prova-gratuita{
    color: white;
    background-color: #0061FF;
    border: solid 10px #0061FF;
    text-decoration: none;
    padding: 0 12px #0061FF;
}

.prova-gratuita:hover{
    background-color: rgba(0, 97, 255, 0.8);
    border: solid 10px rgba(0, 97, 255, 0.8);
    padding: 0 12px rgba(0, 97, 255, 0.8);
}

.cancel-subscription{
    margin-top: 21px;
    font-size: 13px;
    font-weight: lighter
}

.down-arrow{
    margin-top: 50px;
    font-size: 58px;
}

.fas{
    color: black;
}

.img-container{
    float: right;
    width: 63%;
    margin-top: 35px;
}

.img2{
    position: absolute;
    width: 33%;
}

/* spazio vuoto */
.parte-vuota{
    height: 16vh;
}
/* spazio vuoto */

/* main */
.main-container{
    width: 70%;
    margin: 0 auto;
}

#title2{
    margin-top: 55px;
    font-size: 35px;
    font-weight: bold;
}

.selezione li{
    text-decoration: none;
    display: inline;
    margin-right: 20px;
}

.selezione{
    margin-top: 2%;
}

/* colonne */
.col-1, .col-2{
    width: 23%;
    margin-top: 2%;
    float: left;
    border: solid 1px gray;
    margin-right: 15%;
    margin-bottom: 2%;
}

.col-1 .check-list{
    margin-bottom: 241px;
}

.col-3{
    width: 23%;
    margin-top: 2%;
    float: right;
    border: solid 1px gray;
    margin-bottom: 2%;
}

.tipo{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.container-col{
    width: 90%;
    margin: 0 auto;
}

.pacchetto{

}

.tipo-pacchetto{
    font-weight: bold;
    font-size: 23px;
    margin-top: 27px;
    margin-bottom: 13px;
}

.prezzo-pacchetto{
    font-weight: bold;
    margin-bottom: 8px;
}

.descrizione-pacchetto{
    margin-top: 45px;
}

.descrizione-pacchetto p{
    margin-bottom: 25px;
}

.prova-gratis{
    color: white;
    background-color: #0061FF;
    text-decoration: none;
    text-align: center;
    display: grid;
    border: 10px solid #0061FF;
    margin-bottom: 27px;
}

.oppure{
    display: inline-block;
    padding: 0 0 25px;
    border-bottom: 1px solid gray;
    margin-bottom: 25px;
}

.acquista-ora{
    color: dodgerblue;
}

.punti-salienti{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 22px;
}

.check-list{
    list-style: none;
    margin-bottom: 55%;
}

.check-list li{
    margin-bottom: 22px;

}

/* colonna 4 */
.col-4{
    width: 100%;
}

.title-col4{
    width: 100%;
    border: 1px solid gray;
    text-align: center;
    padding: 10px;
    border-bottom: 0;
}

.coll{
    border: 1px solid gray;
    clear: both;
    display: table;
    width: 100%;
}
.container-prova{
    width: 97%;
    margin: 0 auto;
    
}

.nome-abbonamento{
    font-size: 23px;
    font-weight: bold;
    margin-top: 25px;
}

.ufficio-vendite{
    font-weight: bold;
    margin-top: 20px;
}

.supporto{
    font-size: 14px;
    margin-top: 31px;
}

.description{
    float: left;
}

.col-ufficio{
    float: right;
    display: table;
    margin-top: 25px;
}

.bottom-ufficio{
    text-decoration: none;
    color: white;
    background-color: #0061FF;
    border: 10px solid #0061FF;
    padding: 0 70px;
}

/* immagine partner */
.immagine-frase{
    display: table;
    clear: both;
    width: 100%;
}

.container-img{
    float: left;

}

.img-partner{
    width: 100%;
    height: 500px;
}

.container-frase{
    float: right;
    width: 24%;
}
.container-frase p a{
    display: inline-block
}

.titolo-partner{
    font-weight: bold;
    font-size: 27px;
}

.descrizione-partner{
    margin-top: 25px;
    line-height: 27px;
    margin-bottom: 22px;
}

.bottom-trova{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 20px;
    color: black;
}

/* immagini-frasi */
.title-3, .title-4{
    font-weight: bold;
    font-size: 35px;
}

.foto-frasi{
    display: table;
    clear: both;
}

.container-foto-frasi, .container-foto-frasi-2{
    float: left;
    width: 23%;
    margin-right: 15%;
}

.container-foto-frasi-3{
    float: right;
    width: 23%;
}
.img{
    width: 100%;
}

.descr-img{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
}

.parte-vuota2{
    height: 13vh;
}

/* titolo 4 */
.title-4{
    margin-bottom: 25px;
}

.link-title-4{
    color: dodgerblue;
    display: inline-block;
    margin-bottom: 25px;
}

.container-img-frase{
    width: 100%;
    background-color: #F5F5F5;
    display: table;
    clear: both;
}


/* quadrati sinistra */
.prima-righa{
    width: 484px;
    height: 484px;
    display: inline-block;
    float: left;
}
.quadrato-green, .quadrato-bordau, 
.quadrato-celeste, .quadrato-rossochiaro{
    display: inline-block;
    float: left;
    width: 242px;
    height: 242px;
}

.img-green, .img-bordau, 
.img-celeste, .img-rossochiaro,
.img-celestino, .img-rosso, 
.img-giallo, .img-blu{
    width: 50%;
    height: 50%;
    transform: translate(50%, 48%);
}

.quadrato-green{
    background-color: #A2D39B
}
.quadrato-bordau{
    background-color: #61082B;
}

.quadrato-celeste{
    background-color: #0093CE;
}

.quadrato-rossochiaro{
    background-color: #FF1C1C;
}


/* quadrati destra */
.seconda-righa{
    width: 484px;
    height: 484px;
    display: inline-block;
    float: right;
}

.quadrato-celestino, .quadrato-rosso,
.quadrato-giallo, .quadrato-blu{
    display: inline-block;
    float: right;
    width: 242px;
    height: 242px;
}

.quadrato-celestino{
    background-color: #B4D0E7;
}

.quadrato-rosso{
    background-color: #D5001F;
}

.quadrato-giallo{
    background-color: #FFD830;
}
.quadrato-blu{
    background-color: #0D2481;
}


/* parte centrale */
.container-centrale{
    width: 53%;
    margin: 0 auto;
    display: inline-block;
    float: left;
    margin-left: 8%;
}

.container-img-centrale{
    margin-top: 71px;
}
.img-centrale{
    width: 12%;
}
.scritta-centrale{
    width: 30%;
    display: inline-block;
    margin-top: 50px;
}